name = "JungleTree"
motd = "A JungleTree Server"

[server]
host = "0.0.0.0"
port = 25565
max_players = 10
icon = "favicon.png"
encryption_key_size = 1024

[server.status]
sample = 100

[console.rcon]
enabled = false

[console.web]
enabled = false
host = "127.0.0.1"
port = 3000
