<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] [%c{1}] [%level] %msg%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Root level="error"/>
    <logger name="org.jungletree" level="DEBUG">
      <AppenderRef ref="Console"/>
    </logger>
    <logger name="io.netty" level="WARN">
      <AppenderRef ref="Console"/>
    </logger>
  </Loggers>
</Configuration>
